.star-wars-search {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}
.star-wars-search__form {
  width: 100%;
  max-width: 320px;
  margin: 40px auto;
  text-align: left;
}
.star-wars-search__logo {
  width: 100%;
  max-width: 400px;
}

/*Helpers*/

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  word-wrap: normal;
}

/* Override input module default styles */

input.rbt-input-main,
input.rbt-input-hint {
  width: 100%!important;
  color: white;
  font-size: 30px;
}
input.rbt-input-hint {
  color: rgba(255, 255, 255, 0.5)!important;
}
.dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown-menu li {
  padding: 5px 0;
}
.dropdown-item {
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
}
.dropdown-item:hover {
  text-decoration: underline;
}
